
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">21:33</span><h4>Ник: нинаю</h4><hr>
          <p>ня</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:34</span><h4>Ник: 23423432</h4><hr>
          <p>111</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:34</span><h4>Ник: Анон</h4><hr>
          <p>99\</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:36</span><h4>Ник: None</h4><hr>
          <p>2223</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:37</span><h4>Ник: Анон</h4><hr>
          <p>24</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:37</span><h4>Ник: Анон</h4><hr>
          <p>434</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:38</span><h4>Ник: Анон</h4><hr>
          <p>121314123141</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:38</span><h4>Ник: Анон</h4><hr>
          <p>test</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:38</span><h4>Ник: Анон</h4><hr>
          <p>пп2</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:41</span><h4>Ник: Анон</h4><hr>
          <p>фыв</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">22:59</span><h4>Ник: Анон</h4><hr>
          <p>123</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">23:01</span><h4>Ник: Анон</h4><hr>
          <p>вввв</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">23:02</span><h4>Ник: Анон</h4><hr>
          <p>11111111111</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">23:17</span><h4>Ник: admin</h4><hr>
          <p>проверка</p>
        </div>
<div class="container">
          <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" style="width:50px;"><span class="time-right">23:22</span><h4>Ник: Анон</h4><hr>
          <p>няк</p>
        </div>